@charset "ISO-8859-1";
body{
    margin:0%;
}
.res .demo{
    width:100%;
    height: 80px;
    background-color: cornflowerblue;
    color: white;

}
li{
    margin: 50px 10px 10px 70px;
    display: inline;
  

   
}
 a{
    
    color:white;
    font-size: 20px;
    text-decoration: none;
}
.nav{
    margin-left: 400px;
}
button{
    margin-top: 20px;
    margin-left: 100px;
    width:100px;
    background-color: blue;
    height: 50px;
    border: none;
    border-radius: 50px;
    outline: none;
    color:white;
}
.img{
    width: 150px;
    height: 100px;
    font-size: 50px;
    margin-top: -80px;
}
.i{
    display: none;
  
}

@media only screen and (max-width: 800px) {
.i{
display: flex;
width: 50px;
height: 50px;

}
}
@media only screen and (max-width: 800px) {
.demo{
display: none;
float: left;
margin: 0px 0px 100px 0px;
width:100%;
height: 350px;
}
}
@media only screen and (max-width: 800px) {
li a{
margin: 30px 0px 0px -250px;
display: block;

}
}
@media only screen and (max-width: 800px) {
button{
margin: 0px 0px 0px -0px;
width: 200px;

}
}
@media only screen and (max-width: 800px) {
.img{
margin: -450px 0px 0px 0px;

}
}
.el{
width:100%;
height: 400px;
margin-top: -20px;
}
@media only screen and (max-width: 800px) {
.el{
margin-top: 120px;

}
}
.res{
margin: 0%;
}
@media only screen and (max-width: 800px) {
.res{
background-color: cornflowerblue;

}
}
.vote{
margin: auto;
width:435.5px;
height:300px;
border: 5px solid white;
padding: 2px;
background-color: darkblue;
color: white;

}
@media only screen and (max-width: 800px) {
.vote{
margin-left: 16px;
}
}
footer{
width:100%;
height: 100px;
font-size: 20px;
color:white;
background-color: cornflowerblue;
margin-top: -20px;
text-align: center;
}
